{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Fmlocation1s list2</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped table-hover table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th>Loc1</th>
                        <th>Locationcode</th>
                        <th>Loc1name</th>
                        <th>Partoftownid</th>
                        <th>Entrydate</th>
                        <th>Category</th>
                        <th>Userid</th>
                        <th>Ownerid</th>
                        <th>Merknader</th>
                        <th>Changetype</th>
                        <th>Tipsobjekt</th>
                        <th>Merknader2</th>
                        <th>Adresse1</th>
                        <th>Adresse2</th>
                        <th>Postnummer</th>
                        <th>Poststed</th>
                        <th>Merknader1</th>
                        <th>Aktiv</th>
                        <th>Oljetank</th>
                        <th>Gasstank</th>
                        <th>Septiktank</th>
                        <th>Brannhydrant</th>
                        <th>Areagross</th>
                        <th>Bronn</th>
                        <th>Fettavskiller</th>
                        <th>Slamavskiller</th>
                        <th>Mva</th>
                        <th>Modifiedby</th>
                        <th>Modifiedon</th>
                        <th>Id</th>
                        <th>Deliveryaddress</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for fmLocation1 in fmLocation1s %}
                    <tr>
                        <td>
                            <a href="{{ path('fmlocation1_show', { 'loc1': fmLocation1.loc1 }) }}">{{ fmLocation1.loc1 }}</a>
                        </td>
                        <td>{{ fmLocation1.locationCode }}</td>
                        <td>{{ fmLocation1.loc1Name }}</td>
                        <td>{{ fmLocation1.partOfTownId }}</td>
                        <td>{{ fmLocation1.entryDate }}</td>
                        <td>{{ fmLocation1.category }}</td>
                        <td>{{ fmLocation1.userId }}</td>
                        <td>{{ fmLocation1.ownerId }}</td>
                        <td>{{ fmLocation1.merknader }}</td>
                        <td>{{ fmLocation1.changeType }}</td>
                        <td>{{ fmLocation1.tipsObjekt }}</td>
                        <td>{{ fmLocation1.merknader2 }}</td>
                        <td>{{ fmLocation1.adresse1 }}</td>
                        <td>{{ fmLocation1.adresse2 }}</td>
                        <td>{{ fmLocation1.postnummer }}</td>
                        <td>{{ fmLocation1.poststed }}</td>
                        <td>{{ fmLocation1.merknader1 }}</td>
                        <td>{{ fmLocation1.aktiv }}</td>
                        <td>{{ fmLocation1.oljeTank }}</td>
                        <td>{{ fmLocation1.gassTank }}</td>
                        <td>{{ fmLocation1.septikTank }}</td>
                        <td>{{ fmLocation1.brannHydrant }}</td>
                        <td>{{ fmLocation1.areaGross }}</td>
                        <td>{{ fmLocation1.bronn }}</td>
                        <td>{{ fmLocation1.fettAvskiller }}</td>
                        <td>{{ fmLocation1.slamAvskiller }}</td>
                        <td>{{ fmLocation1.mva }}</td>
                        <td>{{ fmLocation1.modifiedBy }}</td>
                        <td>{% if fmLocation1.modifiedOn %}{{ fmLocation1.modifiedOn|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ fmLocation1.id }}</td>
                        <td>{{ fmLocation1.deliveryAddress }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('fmlocation1_show', { 'loc1': fmLocation1.loc1 }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('fmlocation1_edit', { 'loc1': fmLocation1.loc1 }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <ul>
                <li>
                    <a href="{{ path('fmlocation1_new') }}">Create a new fmLocation1</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
